<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="3" >
    <title>Login</title>
  </head>
  <body>
    <table style="width:100%">
      <tr>
        <td>Customer_Fund</td>
        <td>Bank_Fund</td>
        <td>Bank_Profit</td>
        <td>Loan_Fund</td>
      </tr>
      <tr>
        <td>{{ c_f }}</td>
        <td>{{ b_f }}</td>
        <b><td style="color: {{ col }}">{{ b_p }}</td></b>
        <td>{{ l_f }}</td>
      </tr>

    </table>




  </body>
</html>
